#menuPrincipal{
    width: 300px;
    height: 50px;
    background: aquamarine;
    position: relative;
    top:40px;
    left: 1000px;
    border: 3px solid gray;


}

#acercaDeNosotrosImagen{
    position: relative;
    top: 3px;
    bottom: 3px;
    left: 85px;
    width: 18%;
    height: 80%;
    border-radius: 150px;
    border: 2px solid green;
    

    
}

#homeImagen{
    position: relative;
    left: -48px;
    top: 3px;
    width: 18%;
    height: 80%;
    border-radius: 150px;
    border: 2px solid green;
}

#eventosImagen{
    position: relative;
    top: 3px;
    left: 35px;
    bottom: 3px;
    width: 18%;
    height: 80%;
    border-radius: 150px;
    border: 2px solid green;
}

#ubicacionImagen{
    position: relative;
    top: 3px;
    bottom: 3px;
    left: 45px;
    width: 18%;
    height: 80%;
    border-radius: 150px;
    border: 2px solid green;
}
#quienesSomosTitulo{
    position: relative;
    width: 400px;
    height: 10%;
    left: 470px;
    top:35px;
    text-align: center;
    font: oblique bold 200% cursive;
}

#divImagenQuienesSomos{
    position: relative;
    width: 1000px;
    height: 300px;
    top:40px;
    left: 148px;
    border: 5px solid black;
    
}
#imagenQuienesSomos{
    position: relative;
    width: 100%;
    height: 100%;
    


}

#referenciaImagenQuienesSomos{
    position: relative;
    width: 500px;
    height: 90px;
    top:5px;
    right: -643px;
    
}

#informacionQuienesSomos{
    position: relative;
    top:100px;
    text-align: center;
    width: 750px;
    left:250px;
    padding-bottom: 50px;
}

.resaltarRojo{
    color:  red;
    font-weight: 1;
}

#bodyacercaDeNosotros{
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-image: url("../img/fondoPagina2.jpg");
}
#bodyDondeEstamos{
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    height: 570px;
    background-image: url("../img/fondoPagina2.jpg");
}

#bodyEventos{
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-image: url("../img/fondoPagina2.jpg");
}

#dondeEstamosUbicadosTitulo{
    position: relative;
    width: 500px;
    height: 10%;
    left: 330px;
    top:-20px;
    text-align: center;
    font: oblique bold 200% cursive;
}

#posicionMapa{
    position: relative;
    width: 800px;
    height: 400px;
    border: 2px solid black;
}

#mapaImagen{
    position: relative;
    width: 100%;
    height: 100%;
}

#posicionTextoDondeEstamos{
    position: relative;
    width: 400px;
    height: 400px;
    border: 2px solid gray;
    top: -405px;
    left: 850px;
    background-color:#CCEEFF;
    opacity:0.7; 
}

#direccionTituloDondeEstamos{
    position: relative;
    width: 100px;
    height: 30px;
    left: 15px;
    top:0px;
    text-align: center;
    font: oblique bold 120% cursive; 
}
#direccionContenidoDondeEstamos{
    position: relative;
    width: 350px;
    height: 200px;
    left: 15px;
    top:-15px;
    text-align: center;
}

#numeroTituloDondeEstamos{
    position: relative;
    width: 250px;
    height: 30px;
    left: -5px;
    top:-80px;
    text-align: center;
    font: oblique bold 120% cursive; 
}
#numeroContenidoDondeEstamos{
    position: relative;
    width: 350px;
    height: 200px;
    left: 15px;
    top:-95px;
    text-align: center;
    font-weight: 900;
    
}

#eventosTitulo{
    position: relative;
    width: 500px;
    height: 10%;
    left: 380px;
    top:-20px;
    text-align: center;
    font: oblique bold 200% cursive;
}

#eventosUbicacion{
    position: relative;
    width: 1100px;
    height: 400px;
    left: 90px;
    padding: 3px 10px;
    border: rgb(18, 12, 97) 5px double;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#lugarEvento1{
    position: relative;
    width: 920px;
    height: 300px;
    top:50px;
    left: 80px;
    padding: 3px 10px;
    border: rgb(0, 253, 0) 5px solid;
    border-radius: 20px;
}

#imagenEvento1{
    position: relative;
    width: 500px;
    height: 250px;
    top: 25px;
    left: 10px;
}

#tituloEvento1{
    position: relative;
    width: 200px;
    height: 10px;
    left: 600px;
    top:-260px;
    text-align: center;
    font: oblique bold 150% cursive;  
}

#contenidoEvento1{
    position: relative;
    width: 350px;
    height: 230px;
    left: 530px;
    top:-260px;
    text-align: center;
    background-color:greenyellow;
    opacity:0.7; 
    padding: 3px 10px;
    border: white 5px dashed;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

#posicionEvento1{
    position: relative;
    top: 0px;
    width: 10px;
    height: 10px;
    background: red;
}

#fechaEvento1{
    position: relative;
    top: 0px;
    background: red;
}





@media Screen and (max-width:720px)
{
    #menuPrincipal{
        width: 200px;
        height: 50px;
        background: aquamarine;
        position: relative;
        top:-0px;
        left: 18px;
        border: 3px solid gray;
    }

    #acercaDeNosotrosImagen{
        position: relative;
        top: 3px;
        bottom: 0px;
        left: 55px;
        width: 18%;
        height: 80%;
        border-radius: 150px;
        border: 2px solid green;
        
    
        
    }
    
    #homeImagen{
        position: relative;
        left: -35px;
        top: 3px;
        bottom: 3px;
        width: 18%;
        height: 80%;
        border-radius: 150px;
        border: 2px solid green;
    }
    
    #eventosImagen{
        position: relative;
        top: 3px;
        left: 15px;
        bottom: 3px;
        width: 18%;
        height: 80%;
        border-radius: 150px;
        border: 2px solid green;
    }
    
    #ubicacionImagen{
        position: relative;
        top: 3px;
        bottom: 3px;
        left: 20px;
        width: 18%;
        height: 80%;
        border-radius: 150px;
        border: 2px solid green;
    }
    #quienesSomosTitulo{
        position: relative;
        width: 210px;
        height: 10%;
        left: 0px;
        top:-10px;
        text-align: center;
        font: oblique bold 150% cursive;
    }
    
    #divImagenQuienesSomos{
        position: relative;
        width: 220px;
        height: 220px;
        top:-20px;
        left: 5px;
        border: 5px solid black;
        
    }
    #imagenQuienesSomos{
        position: relative;
        width: 100%;
        height: 100%;
        
    
    
    }
    
    #referenciaImagenQuienesSomos{
        position: relative;
        width: 400px;
        height: 90px;
        top:5px;
        left:-10px;
        
    }
    
    #informacionQuienesSomos{
        position: relative;
        top:50px;
        text-align: center;
        width: 250px;
        left:0px;
        padding-bottom: 50px;
    }



    #dondeEstamosUbicadosTitulo{
        position: relative;
        width: 300px;
        height: 10%;
        left: -30px;
        top:10px;
        text-align: center;
        font: oblique bold 100% cursive;
    }
    
    #posicionMapa{
        position: relative;
        width: 250px;
        height: 200px;
        border: 2px solid black;
    }
    
    #mapaImagen{
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    #posicionTextoDondeEstamos{
        position: relative;
        width: 250px;
        height: 420px;
        border: 2px solid gray;
        top: -0px;
        left: 0px;
        background-color:#CCEEFF;
        opacity:0.7; 
    }
    
    #direccionTituloDondeEstamos{
        position: relative;
        width: 100px;
        height: 30px;
        left: 15px;
        top:0px;
        text-align: center;
        font: oblique bold 120% cursive; 
    }
    #direccionContenidoDondeEstamos{
        position: relative;
        width: 230px;
        height: 200px;
        left: 15px;
        top:-15px;
        text-align: center;
    }
    
    #numeroTituloDondeEstamos{
        position: relative;
        width: 250px;
        height: 30px;
        left: -5px;
        top:-50px;
        text-align: center;
        font: oblique bold 120% cursive; 
    }
    #numeroContenidoDondeEstamos{
        position: relative;
        width: 230px;
        height: 200px;
        left: 15px;
        top:-65px;
        text-align: center;
        font-weight: 900;
        
    }

    #eventosTitulo{
        position: relative;
        width: 200px;
        height: 10%;
        left: 20px;
        top:-20px;
        text-align: center;
        font: oblique bold 200% cursive;
    }
    
    #eventosUbicacion{
        position: relative;
        width: 280px;
        height: 700px;
        top: -20px;
        left: -35px;
        padding: 3px 10px;
        border: rgb(18, 12, 97) 5px double;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
    #lugarEvento1{
        position: relative;
        width: 260px;
        height: 630px;
        top:20px;
        left: -5px;
        padding: 3px 10px;
        border: rgb(0, 253, 0) 5px solid;
        border-radius: 20px;
    }
    
    #imagenEvento1{
        position: relative;
        width: 250px;
        height: 150px;
        top: 25px;
        left: 10px;
    }
    
    #tituloEvento1{
        position: relative;
        width: 200px;
        height: 10px;
        left: 20px;
        top:10px;
        text-align: center;
        font: oblique bold 120% cursive;  
    }
    
    #contenidoEvento1{
        position: relative;
        width: 230px;
        height: 365px;
        left: 0px;
        top:30px;
        text-align: center;
        background-color:greenyellow;
        opacity:0.7; 
        padding: 3px 10px;
        border: white 5px dashed;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    
    }
    
    #posicionEvento1{
        position: relative;
        top: 0px;
        width: 10px;
        height: 10px;
        background: red;
    }
    
    #fechaEvento1{
        position: relative;
        top: 0px;
        background: red;
    }

}


/*Estilo para el fondo de pantalla cuando estamos mostrando la imagen grande*/
#background {
    display:none;
    position: absolute;
    top:0;left:0;width:100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    background-color: #000;
    z-index: 1;
}

/*Estilo para la capa que contendra la imagen grande y la cruz de cerrar*/
#preview {
    display: none;
    position: absolute;
    width: 960px;
    height: 370px;
    border: 1px solid #D8D7D8;
    background-color: #FFF;
    box-shadow: 1px 1px 5px #DDD;
    z-index: 2;
}

/*Estilo para el contenedor de la imagen grande*/
#content {
    width:100%;
    height:100%;
}

/*Estilo para el boton cerrar*/
#close {
    position: absolute;
    border:0px solid;
    width:16px;
    height:16px;
    right:2px;
    top:2px;
    background:url('../img/close.png');
}
